body{
    background-color: #f4f4f4;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: darkblue;
}

h2{
    color: #333;
}

p, li{
    font-size: 18px;
}

.mensagem{
    background-color: lightblue;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
}